$colorwhite: #fff;
$blue: linear-gradient(45deg, rgba(73,107,254,1) 0%, rgba(73,107,254,1) 43%, rgba(84,116,253,1) 43%);;

$fs16: 16px;
$fs20: 20px;
$fs2: 22px;
$fs24: 24px;
$fs36: 36px;
$line-height: 26px;

$bc: #333;
$bcfooter: #232323;

$Aleo: "Aleo", serif;
$JosefinSans: "Josefin Sans", sans-serif; ;
