.why-choose-us {
  min-height: 1022px;
}

.wrap {
  height: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.block {
  min-height: 685px;
  max-width: 1110px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include media("<=tablet", "screen") {
    margin: 0 auto;
    justify-content: center;
  }
  @include media("<=1120px", "screen") {
    padding: 20px;
  }
}
.foto {
  width: 50%;
  display: flex;
  flex-direction: column;

  &__top {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
  }

  @include media("<=768px") {
    justify-content: center;
  }
  &__bottom {
    display: flex;
    justify-content: flex-end;
    @include media("<=768px") {
      justify-content: center;
    }
  }
  @include media("<=768px") {
    justify-content: center;
  }
}

.foto__top-left,
.foto__bottom-left {
  @include media("<=365px") {
    justify-content: center;
    width: 98%;
  }
}

.text {
  padding-top: 13%;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin-bottom: 70px;

  &__title {
    font-size: $fs36;
    font-family: $Aleo;
    margin-bottom: 24px;
  }

  &__p {
    padding-top: 38px;
    margin-bottom: 18px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  &__p-top {
    padding-bottom: 25px;
  }

  &__btn-button {
    background: $blue;
    padding: 23px 54px 20px 40px;
    color: $colorwhite;
    font-family: $Aleo;
    font-size: $fs16;
    text-transform: uppercase;
  }
  @include media("<=768px") {
    width: 100%;
    font-size: 12px;
    padding: 30px 30px 0px 30px;
    text-align: center;
  }
}

.list {
  width: 100%;
  height: 335px;
  background-color: $bc;
  display: flex;
  justify-content: center;
  padding-bottom: 28px;

  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  &__items {
    padding: 0 85px;
    font-family: $Aleo;
    font-size: 36px;
    text-align: center;

    @include media("<=tablet", "screen") {
      width: 100%;
      font-size: 14px;
    }
  }
}

a {
  color: inherit;
  transition: all ease-in-out 0.5s;
  &:hover {
    opacity: 0.4;
  }
}

.icon-search-big,
.icon-check,
.icon-like2 {
  font-size: 72px;
  display: flex;
  justify-content: center;

  @include media("<=tablet", "screen") {
    width: 100%;
    font-size: 40px;
  }
}

.icon-search-big {
  color: #5474fd;
}

.icon-check {
  color: #ff6363;
}

.icon-like2 {
  color: #00a2ff;
}
